{% extends '_base.html' %}

{% load i18n %}

{% block title %} {% trans 'panel message' %} {% endblock title %}


{% block content %}

    <form action="{% url 'email_sender:msg_panel_send' %}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}

        <p>msg_record_img_formset</p>
        {{ msg_record_img_formset.as_p }}

        <p>msg_record_file_formset</p>
        {{ msg_record_file_formset.as_p }}

        <p>msg_record_form</p>
        <head>
        {{ msg_record_form.media }}

        </head>
        {{ msg_record_form.as_p }}
        <input type="submit" value="enter">
    </form>

{% endblock content %}
